* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    font-family: "Poor Richard", serif;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;

}

.container__password {
    background-color: rebeccapurple;
    border: 3px solid white;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    box-shadow: 2px 2px 2px white;
}

.app__name {
    text-align: center;
    font-size: 22px;
}

.field__password button {
    position: relative;
    bottom: -70%;
    left: 40%;
    transform: translateX(-50%);
    background-color: #612d91;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    cursor: pointer;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
}

.field__password:hover button {
    opacity: 1;
}

.app__field {
    margin: 40px auto auto;
    width: 450px;
    height: 390px;
    background-color: #7b31c3;
    border: 3px solid white;
    box-shadow: 2px 2px 2px white;
}

.list__fields {
    padding: 0;
}

p {
    margin: 0
}

.field__element {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

#generate__password{
    background-color: #612d91;
    color: white;
    border: 3px solid white;
    font-weight: bold;
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;
}
